<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="CatMapEntities" connectionString="metadata=res://*/Models.ModelCatMap.csdl|res://*/Models.ModelCatMap.ssdl|res://*/Models.ModelCatMap.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MapEntities" connectionString="metadata=res://*/Models.ModelMap.csdl|res://*/Models.ModelMap.ssdl|res://*/Models.ModelMap.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PurchasedItemsSyncEntities" connectionString="metadata=res://*/Models.ModelPurchasedItemsSync.csdl|res://*/Models.ModelPurchasedItemsSync.ssdl|res://*/Models.ModelPurchasedItemsSync.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SoldItemsSyncEntities" connectionString="metadata=res://*/Models.ModelSoldItemsSync.csdl|res://*/Models.ModelSoldItemsSync.ssdl|res://*/Models.ModelSoldItemsSync.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MapSyncEntities" connectionString="metadata=res://*/Models.ModelMapSync.csdl|res://*/Models.ModelMapSync.ssdl|res://*/Models.ModelMapSync.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CatMapSyncEntities" connectionString="metadata=res://*/Models.ModelCatMapSync.csdl|res://*/Models.ModelCatMapSync.ssdl|res://*/Models.ModelCatMapSync.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PriceListsEntities" connectionString="metadata=res://*/Models.ModelPriceLists.csdl|res://*/Models.ModelPriceLists.ssdl|res://*/Models.ModelPriceLists.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PricesEntities" connectionString="metadata=res://*/Models.ModelPrices.csdl|res://*/Models.ModelPrices.ssdl|res://*/Models.ModelPrices.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NivelesEntities" connectionString="metadata=res://*/Models.ModelNiveles.csdl|res://*/Models.ModelNiveles.ssdl|res://*/Models.ModelNiveles.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BuySellEntities" connectionString="metadata=res://*/Models.ModelBuySell.csdl|res://*/Models.ModelBuySell.ssdl|res://*/Models.ModelBuySell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StocksEntities" connectionString="metadata=res://*/Models.HistorialCompra.csdl|res://*/Models.HistorialCompra.ssdl|res://*/Models.HistorialCompra.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SoldItemsEntities" connectionString="metadata=res://*/Models.ModelSoldItems.csdl|res://*/Models.ModelSoldItems.ssdl|res://*/Models.ModelSoldItems.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PurchasedItemsEntities" connectionString="metadata=res://*/Models.ModelPurchasedItems.csdl|res://*/Models.ModelPurchasedItems.ssdl|res://*/Models.ModelPurchasedItems.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SpenceCategoryEntities" connectionString="metadata=res://*/Models.ModelSpenceCategory.csdl|res://*/Models.ModelSpenceCategory.ssdl|res://*/Models.ModelSpenceCategory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SpencesEntities" connectionString="metadata=res://*/Models.ModelSpences.csdl|res://*/Models.ModelSpences.ssdl|res://*/Models.ModelSpences.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BankInformationEntities" connectionString="metadata=res://*/Models.ModelBankInformation.csdl|res://*/Models.ModelBankInformation.ssdl|res://*/Models.ModelBankInformation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BankBalanceEntities" connectionString="metadata=res://*/Models.ModelBankBalance.csdl|res://*/Models.ModelBankBalance.ssdl|res://*/Models.ModelBankBalance.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CarModelsEntities" connectionString="metadata=res://*/Models.ModelCarModels.csdl|res://*/Models.ModelCarModels.ssdl|res://*/Models.ModelCarModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MaintenanceRecordsEntities" connectionString="metadata=res://*/Models.ModelMaintenanceRecords.csdl|res://*/Models.ModelMaintenanceRecords.ssdl|res://*/Models.ModelMaintenanceRecords.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CompaniesEntities" connectionString="metadata=res://*/Models.ModelCompanies.csdl|res://*/Models.ModelCompanies.ssdl|res://*/Models.ModelCompanies.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DividendosEntities" connectionString="metadata=res://*/Models.ModelDividendos.csdl|res://*/Models.ModelDividendos.ssdl|res://*/Models.ModelDividendos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InvestmentEntities" connectionString="metadata=res://*/Models.ModelInvestment.csdl|res://*/Models.ModelInvestment.ssdl|res://*/Models.ModelInvestment.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarketPricesEntities" connectionString="metadata=res://*/Models.ModelMarketPrices.csdl|res://*/Models.ModelMarketPrices.ssdl|res://*/Models.ModelMarketPrices.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ParametersEntities" connectionString="metadata=res://*/Models.ModelParameters.csdl|res://*/Models.ModelParameters.ssdl|res://*/Models.ModelParameters.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarketPriceSeguimientoEntities" connectionString="metadata=res://*/Models.ModelMarketPriceSeguimiento.csdl|res://*/Models.ModelMarketPriceSeguimiento.ssdl|res://*/Models.ModelMarketPriceSeguimiento.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MonthNamesEntities" connectionString="metadata=res://*/Models.ModelMonthNames.csdl|res://*/Models.ModelMonthNames.ssdl|res://*/Models.ModelMonthNames.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BankSummariesEntities" connectionString="metadata=res://*/Models.ModelBankSummaries.csdl|res://*/Models.ModelBankSummaries.ssdl|res://*/Models.ModelBankSummaries.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SalesPersonsEntities" connectionString="metadata=res://*/Models.ModelSalesPersons.csdl|res://*/Models.ModelSalesPersons.ssdl|res://*/Models.ModelSalesPersons.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SyncAuditEntities" connectionString="metadata=res://*/Models.ModelSyncAudit.csdl|res://*/Models.ModelSyncAudit.ssdl|res://*/Models.ModelSyncAudit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SelfLoansEntities" connectionString="metadata=res://*/Models.ModelSelfLoans.csdl|res://*/Models.ModelSelfLoans.ssdl|res://*/Models.ModelSelfLoans.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConfigEntities" connectionString="metadata=res://*/Models.ModelConfig.csdl|res://*/Models.ModelConfig.ssdl|res://*/Models.ModelConfig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ciro-pc\SQLExpress;initial catalog=Stocks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>